<div class="helpPage">
    <h1>贡献白金数据步骤</h1>
    <p>打开地址：<a target="_blank" href="https://github.com/shaman0605/newgmud-data/tree/patch-1/data">https://github.com/shaman0605/newgmud-data/tree/patch-1/data</a></p>
    <p>
        第一步 选择一个数据文件如：drug.json 点击编辑图标：<br>
        <img src="images/edit1.png" alt="step1"><br>
        编辑完成后点击提交按钮，如图：<br>
        <img src="images/edit2.png" alt="step2">
    </p>
    <p>
        第二步 打开地址：<a target="_blank" href="https://github.com/Shaman05/newgmud-data/compare/gh-pages...shaman0605:patch-1?expand=1">https://github.com/Shaman05/newgmud-data/compare/gh-pages...shaman0605:patch-1?expand=1</a><br>
        <img src="images/edit3.png" alt="step3"><br>
        点击按钮即可发送到本次改动到正式发布的分支上，然后发送消息给：【明教】张无忌 即可。
    </p>
</div>