<div class="index">
    <h3>关于本站</h3>
    <p>本站是新白金英雄坛非官方数据库，所有数据来源均由玩家在游戏过程中摘录。</p>
    <p>其中如有不妥和遗漏之处希望大家多多指正和建议！  :)</p>
    <p class="warn-text">新版2.7本即将发布，目前群内测中。</p>

    <h3>贡献者</h3>
    <p>欢迎白金英雄玩家提供各类数据，可联系本站作者 <span class="show-name" title="qq:27231583">【明教】张无忌</span>（群昵称）</p>
    <p>贡献数据的方法和步骤： <router-link to="/commit">这里</router-link>。</p>
    <div class="show-name-area">
        <span class="show-name" title="qq:89501607">自生自灭吧</span>
        <span class="show-name" title="qq:479894170">谢沧行</span>
    </div>

    <h3>待补充和完善</h3>
    <ol>
        <li>技能页的分类需要优化</li>
    </ol>

    <h3>更新记录</h3>
    <ul>
        <li>2016-12-15 更新唐门武器（由<span class="show-name" title="qq:479894170">谢沧行</span>提供）</li>
        <li>2016-12-08 更新部分NPC数据（由<span class="show-name" title="qq:89501607">自生自灭吧</span>提供），增加搜索过滤功能</li>
        <li>2016-12-02 更新部分NPC数据（由<span class="show-name" title="qq:89501607">自生自灭吧</span>提供）</li>
        <li>2016-11-28 创建2.69版本</li>
    </ul>
</div>