<div class="list-tab">
    <ul>
        <li>武器强化</li>
        <li class="table">
            <table>
                <tr>
                    <th><span class="sort">等级</span></th>
                    <th>强化名称</th>
                    <th><span class="sort">强化效果</span></th>
                    <th>所需符文</th>
                </tr>
                <tr>
                    <td>4</td>
                    <td>七星</td>
                    <td>5%概率使敌人呆若木鸡</td>
                    <td>初级符文碎片1</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>萨特</td>
                    <td>命中后6%清除敌人身上的正面状态</td>
                    <td>初级符文碎片1</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>人宇</td>
                    <td>命中 +5</td>
                    <td>初级符文碎片3 中级符文碎片1</td>
                </tr>
            </table>
        </li>
        <li>防具强化</li>
        <li class="table">
            <table>
                <tr>
                    <th>等级</th>
                    <th>强化名称</th>
                    <th>强化效果</th>
                    <th>所需符文</th>
                </tr>
                <tr>
                    <td>4</td>
                    <td>绿野</td>
                    <td>增加20点生命上限</td>
                    <td>初级符文碎片1</td>
                </tr>
            </table>
        </li>
    </ul>
</div>