<div class="list-tab">
    <ul>
        <li>拳脚</li>
        <li class="table">
            <table>
                <tr>
                    <th>技能名称</th>
                    <th>门派</th>
                    <th>招式名称</th>
                    <th>出现等级</th>
                    <th>武器加成</th>
                    <th>拳脚加成</th>
                    <th>其他</th>
                    <th>技能描述</th>
                </tr>
                <tr>
                    <td>雪影擒拿手</td>
                    <td>雪山派</td>
                    <td>冰封地彻</td>
                    <td>110</td>
                    <td>0</td>
                    <td>250</td>
                    <td>破防-4 命中10 暴击-10</td>
                    <td>
                        <div class="more">
                            <span class="view-desc">查看</span>
                            <div class="desc">
                                掌门白瑞德所创，威力深不可测，暗含分筋错骨，又加有雪山的冰雪寒气，当年折在白瑞德此路擒拿法下的武林高手不计其数。
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </li>
        <li>兵刃</li>
        <li class="table">
            <table>
                <tr>
                    <th>技能名称</th>
                    <th>门派</th>
                    <th>招式名称</th>
                    <th>出现等级</th>
                    <th>武器加成</th>
                    <th>拳脚加成</th>
                    <th>其他</th>
                    <th>技能描述</th>
                </tr>
                <tr>
                    <td>雪山剑法</td>
                    <td>雪山派</td>
                    <td>明月羌笛</td>
                    <td>70</td>
                    <td>50</td>
                    <td>0</td>
                    <td>命中5</td>
                    <td>
                        <div class="more">
                            <span class="view-desc">查看</span>
                            <div class="desc">
                                单以招式精巧攻击性强而论，实为天下剑法之冠。此剑法剑式错落，攻击极强，但招招抢攻不求自保，战斗时以速战速决为宜。
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </li>
        <li>轻功</li>
        <li class="table">
            <table>
                <tr>
                    <th>技能名称</th>
                    <th>门派</th>
                    <th>爆发特效</th>
                    <th>技能描述</th>
                </tr>
                <tr>
                    <td>踏雪无痕</td>
                    <td>雪山派</td>
                    <td>接下来几次连击攻击次数增加</td>
                    <td>
                        <div class="more">
                            <span class="view-desc">查看</span>
                            <div class="desc">
                                大雪山中终年积雪不化，此路轻身功夫施展开当真是雪地无痕，难觅其踪。
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </li>
        <li>内功</li>
        <li class="table">
            <table>
                <tr>
                    <th>技能名称</th>
                    <th>门派</th>
                    <th>技能详情</th>
                    <th>技能描述</th>
                </tr>
                <tr>
                    <td>雪山内功</td>
                    <td>雪山派</td>
                    <td>
                        <div class="sp-desc">
                            内力成长：16<br>
                            内力血量成长：0.3<br>
                            吸气力：1.3
                        </div>
                    </td>
                    <td>
                        <div class="more">
                            <span class="view-desc">查看</span>
                            <div class="desc">
                                雪山中气候寒冷，更适合习武之人修炼内力，雪山内功也扎实绵密，另有妙用。
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </li>
        <li>招架</li>
        <li>知识</li>
        <li>绝招</li>
    </ul>
</div>