a:hover{
    text-decoration: underline;
}
[v-cloak]{
    display: none;
}
.router-link-active{
    text-decoration: underline;
}
.show-name{
    color: #ff8511;
    cursor: pointer;
}
#header .wrapper{
    height: 60px;
    overflow: hidden;
    padding-top: 10px;
    position: relative;
}
#header h1{
    display: inline-block;
    font-size: 22px;
    margin: 0 0 0 12px;
    cursor: pointer;
}
#header h1.router-link-active{
    text-decoration: none;
}
#header h1:hover{
    text-decoration: underline;
}
#header .logo,
#header h1{
    vertical-align: middle;
}
.top-search{
    position: absolute;
    top: 20px;
    right: 0;
}
.top-search input{
    font-size: 12px;
    padding: 2px;
}
.top-search select{
    height: 22px;
}
.top-search *{
    vertical-align: middle;
}
.nav{
    padding-bottom: 20px;
}
.nav a{
    margin-right: 20px;
}
.footer{
    text-align: center;
}
.content{
    padding: 20px 0;
    min-height: 600px;
}
.content th{
    font-weight: bold;
    text-align: center;
}
.content tr:hover{
    background: #1a1a1a;
}
.content td{
    text-align: center;
}
.content th:first-of-type,
.content tr td:first-of-type{
    text-align: left;
}
.content th:last-of-type{
    width: 100px;
}
.content .list-tab th:first-of-type{
    width: 80px;
}
.content .list-tab th:nth-child(2){
    width: 80px;
}
.more{
    position: relative;
}
.view-desc{
    color: #ffda76;
    cursor: pointer;
}
.desc{
    display: none;
    position: absolute;
    z-index: 9;
    top: 20px;
    right: 0;
    min-width: 300px;
    padding: 4px 8px;
    text-align: left;
    background: #1a1a1a;
    border-radius: 4px;
    border: 1px solid #434343;
}
.more:hover .desc{
    display: block;
}
.sort{
    position: relative;
    cursor: pointer;
}
.sort:after,
.sort:before{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    right: -12px;
}
.sort:before{
    top: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid #595959;
}
.sort:after{
    top: 12px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid #595959;
}
.sort.asc:before{
    border-bottom: 8px solid #b6b6b6;
}
.sort.dsc:after{
    border-top: 8px solid #b6b6b6;
}
.list-tab ul{
    padding-left: 20px;
}
.list-tab li.table{
    list-style: none;
    margin-bottom: 20px;
}
.sp-desc{
    text-align: center;
}